* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

    scroll-behavior: smooth;
}


:root {
    --color-primary:  #242bdd;
    --color-secundary: #FEA55F;
    --color-terceary: #FABE90;
    --color-quatoary: #E0DD9D;

    --color-white: #fff;

    --color-background: #e9e9e9;
    --color-background-secundary: #13111A;
    --color-background-accordion: #242bdd;
    --color-card: #fff;

    --color-comment: #bbbbbb;

    ---color-text-black: #0e0e0e;
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 65.5%;
}

body {
    background-color: var(--color-background);
}

#menu {
    margin-bottom: 0rem;
}

/* Esconde uma tag */
.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Scroll */

::-webkit-scrollbar-track {
    background-color: #dadada;
}
::-webkit-scrollbar {
    width: 5px;
    background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* MENU */
#logo {
    width: 3.5rem;
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    color: var(--color-text-black);

}

h2, h3, h4, h5 {
    font-family: 'Poppins';
    font-weight: 500;
    color: var(--color-text-black);
}

ul li {
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 500;

    line-height: 2.1rem;
    letter-spacing: 2px;
    color: var(--color-text-black);

    max-width: 72ch;
}

span {
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--color-text-black);
    letter-spacing: 3px;
}

.comment {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-comment);
    letter-spacing: 2px;
}

button{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
    background-color: var(--color-cta-button-background);
}


.btn-off {
    background-image: linear-gradient(to right, #212121 0%, #131313  51%, #000000  100%);
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(160, 160, 160);   
    box-shadow: 0 0 20px #eee;

    border-radius: 2rem;
    display: block;

    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.6rem;
  }
 
  .btn-grad {
    background-image: linear-gradient(to right, #E0DD9D 0%, #FABE90  51%, #FEA55F  100%);
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;   
    

    border-radius: 2rem;
    /* display: block; */

    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.6rem;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 0.75rem;
}


label, input, textarea {
    color: var(--color-background);
    font-size: 1.4rem;
    font-family: 'Poppins';
    font-weight: 500;
}

#check-auto{
    color: #e9e9e9;
    opacity: .2;
    font-size: 1rem;
}

.mb-label {
    margin-bottom: 2rem;
}

.mt-label {
    margin-top: 2rem;
}

