
  .menuFixo {
    position: fixed;
    color: var(--color-background);

    padding: 0.5rem;

    background-color: var(--color-background-secundary);
    transition: background 1s;
    /* height: 5%; */
  }

  .btn-scroll {
    background: linear-gradient(90deg, #E0DD9D 0%, #FABE90 50%, #FEA55F 100%);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
  }

  .shadow-black {
    color: var(--color-background-secundary);
    box-shadow: 0 0 20px rgb(0, 0, 0);
  }
  
  header ul li {
    padding: 0.1rem 0.4vw;
  }
  
  header ul li a {
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text-black);
    letter-spacing: 3px;
  }

  header a {
    list-style: none;
  }

  header a span {
    color: var(--color-background);
    font-size: 1.2rem;
    margin-left: 1rem;
    letter-spacing: 1px;
  }

  .disable {
    display: none;
  }
  
  header #logo {
    width: 4.5rem;
  }
  
  #menu a {
    text-decoration: none;
  }
  
  #menu {
    display: flex;
    align-items: center;

    list-style: none;
    gap: 0.5rem;
  }
  
  .contate-header {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  .contate-header a {
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text-black);
    letter-spacing: 3px;
  
    display: flex;
    padding: 0.5rem;
  }

  /*  Apresetation  */

  #home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    align-items: center;
  
    height: 100vh;
  }

  #img-background-home {
    position: absolute;
    z-index: -1;
  }

  #img-background-home img {
    position: absolute;
    width: 20rem;
  }

  #img-background-home img:nth-child(1) {
    opacity: .7;
    width: 15rem;
    bottom: 10vh;
    left: 40vw;
  }

  #img-background-home img:nth-child(2) {
    opacity: .6;
    bottom: 65vh;
    left: 0vw;
  }
  
  section #background-img img {
    width: 100%;
    height: auto;
  }

  section main {
    display: block;
    align-items: center;
    grid-area: 1 / 1 / 5 / 4;
  }
  
  section main h1 {
    font-size: 5rem;
    max-width: 20ch;
  }
  
  section main h2 {
    color: var(--color-name);
  }

  .content {
    grid-area: 1 / 4 / 5 / 6;
  }
  
  .function {
    margin-top: 2rem;
  }

  .function button {
    margin: 2rem 0rem;
  }

  .function button:nth-child(2) {
    margin-left: 2rem;
  }

  .function ul {
    display: flex;
  }

  .function ul li {
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 500;

    line-height: 2.1rem;
    letter-spacing: 2px;
    color: var(--color-text-black);

    max-width: 72ch;
    padding-right: 4rem;
  }

  .buttons {
    display: flex;
  }

  .arrows {
    grid-area: 5 / 1 / 6 / 6;
    display: flex;
    justify-content: center;
  }

  #arrow-down {
    width: 3rem;
  }

  
/*SOBRE*/

.card {
  background-color:#fff;
}

.sobre-img img {
  width: 30rem;
}

#border-card {
  border: 2rem;
  border-color: var(--color-background);
}

.title {
  margin-bottom: 2rem;
}

#sobre .title h2 {
  font-size: 5rem;
  text-align: initial;
  color: var(--color-name);

  padding-bottom: 5rem;
}
/*  Benefícios  */

.step-number-inner {
  font-family: 'Poppins';
  font-size: 10rem;
  font-weight: 700;
  color: var(--color-text-black);
}

.step {
  display: flex;
  align-items: center;
}

.step-body h3 {
  font-size: 2rem;
}

.step-body img {
  width: 20rem;
  height: auto;
}

#services {
  margin: 5rem auto;
}

#services h1{
  margin-bottom: 2rem;
}

#no-container {
  max-width: 100%;
}

#services {
  padding: 5rem 0rem;
}

#beneficios {
  margin-top: 2rem;
}

@media only screen and (max-width: 748px) {
  footer.div:nth-child(1) {
    justify-content: center !important;
  }

  header #logo {
    padding-left: 1rem;
  }
}